#script [find board/st_nucleo_h743zi.cfg]
source [find interface/stlink.cfg]
transport select hla_swd
source [find target/stm32h7x.cfg]
reset_config srst_only

adapter srst delay 0 ;# get rid of a small-but-superfluous 100 ms delay

switch -glob [info hostname] {
    pijeeh* - nukkie* { adapter serial 0672FF353830523457245215 }
}

set fcpu 400000000
set fswo 2000000

tpiu create $_CHIPNAME.tpiu -dap $_CHIPNAME.dap -ap-num 0 -baseaddr 0xE00F5000

#$_CHIPNAME.tpiu config internal :6464 uart false $fcpu $fswo
#$_CHIPNAME.tpiu enable

$_CHIPNAME.tpiu configure \
                -protocol uart -traceclk $fcpu -pin-freq $fswo -output :6464
$_CHIPNAME.tpiu enable
itm ports on

#$_CHIPNAME.tpiu configure -event trace-config {
#    poll off ;# no need to poll for programming and ITM / SWO use
#}
