script [find board/stm32f723e-disco.cfg]

#adapter srst delay 0 ;# get rid of a small-but-superfluous 100 ms delay

switch -glob [info hostname] {
    nukkie* { adapter serial 0670FF504955857567192657 }
}

set fcpu 216000000
set fswo 2000000

$_CHIPNAME.tpiu configure \
                -protocol uart -traceclk $fcpu -pin-freq $fswo -output :6464
$_CHIPNAME.tpiu enable
itm ports on

$_TARGETNAME configure -event reset-start {
	adapter speed 950 ;# avoid the default 2000 kHz warning
}

#$_TARGETNAME configure -event trace-config {
#    poll off ;# no need to poll for programming and ITM / SWO use
#}
